<nav>
  <div class="nav-container">
    <!-- Logo à gauche -->
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo-yy.png" alt="Logo du salon" />
      </a>
    </div>

    <!-- Liens du menu -->
    @if (!isLoggedIn) {
      <button class="burger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="nav-links" [ngClass]="{ 'open': isMenuOpen }">
        <li><a (click)="goToAcceuil()">Accueil</a></li>
        <li><a (click)="goToServices()">Services</a></li>
        <li><a (click)="priseRendezVous()">Rendez-vous</a></li>
        <li><a (click)="goToContact()">Contact</a></li>
        <li><a (click)="goToAbout()">À Propos</a></li>
      </ul>
    } @else {
      <div class="user-info">
        @if (!isInAdminPage && isAdmin) {
          <p><a routerLink="/admin">Accéder à l'administration</a></p>
        } @else if (!isInClientPage && isClient) {
          <p><a routerLink="/client">Retour à l'espace client</a></p>
        } @else if (!isInEmployeePage && isEmployee) {
          <p><a routerLink="/employee">Retour à l'espace employé</a></p>
        } @else if (!isInAcceuillPage) {
          <p><a routerLink="/">Retour à l'accueil</a></p>
        }
      </div>
    }

    <!-- Bouton de connexion / déconnexion -->
    <div class="login-btn">
      @if (isLoggedIn) {
        <a (click)="logout()">Déconnexion</a>
      } @else {
        <a routerLink="/login">Connexion</a>
      }
    </div>
  </div>
</nav>
