<section class="register">
    <div class="register-container">
      <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">{{ 'REGISTER.LASTNAME' | translate }} <span style="color :red;">*</span></label>
          <input type="text" id="firstName" formControlName="firstName" [placeholder]="'REGISTER.PLACEHOLDER_LASTNAME' | translate" />
          @if (f['firstName'].touched && f['firstName'].invalid) {
            <small class="error">{{ 'REGISTER.ERROR_LASTNAME' | translate }}</small>
          }
        </div>
  
        <div class="form-group">
          <label for="lastName">{{ 'REGISTER.FIRSTNAME' | translate }} <span style="color :red;">*</span></label>
          <input type="text" id="lastName" formControlName="lastName" [placeholder]="'REGISTER.PLACEHOLDER_FIRSTNAME' | translate" />
          @if (f['lastName'].touched && f['lastName'].invalid) {
            <small class="error">{{ 'REGISTER.ERROR_FIRSTNAME' | translate }}</small>
          }
        </div>
  
        <div class="form-group">
          <label for="email">{{ 'REGISTER.EMAIL' | translate }} <span style="color :red;">*</span></label>
          <input type="email" id="email" formControlName="email" [placeholder]="'REGISTER.PLACEHOLDER_EMAIL' | translate" />
          @if (f['email'].touched && f['email'].invalid) {
            <small class="error">{{ 'REGISTER.ERROR_EMAIL' | translate }}</small>
          }
        </div>
  
        <div class="form-group">
          <label for="phone">{{ 'REGISTER.PHONE' | translate }} <span style="color :red;">*</span></label>
          <input type="text" id="phone" formControlName="phone" [placeholder]="'REGISTER.PLACEHOLDER_PHONE' | translate" />
          @if (f['phone'].touched && f['phone'].invalid) {
            <small class="error">{{ 'REGISTER.ERROR_PHONE' | translate }}</small>
          }
        </div>
  
        <button type="submit" [disabled]="registerForm.invalid || loading">
          @if (!loading) {
            {{ 'REGISTER.SUBMIT' | translate }}
          } @else {
            {{ 'REGISTER.LOADING' | translate }}
          }
        </button>
  
        @if (errorMessage) {
          <p class="error-message">{{ errorMessage }}</p>
        }
  
        <div class="login-link">
          <p>{{ 'REGISTER.HAVE_ACCOUNT' | translate }} <a (click)="goToLogin()">{{ 'REGISTER.LOGIN_LINK' | translate }}</a></p>
        </div>
      </form>
    </div>
  </section>
  