.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pleine hauteur */
    background: #c4b5a5;

.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
  
    .form-group {
      margin-bottom: 15px;
      text-align: left;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:focus {
          border-color: #c4b5a5;
          outline: none;
        }
      }
  
      .error {
        color: red;
        font-size: 0.85rem;
        margin-top: 5px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background: #c4b5a5;
      color: white;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background: #54c540;
        transform: scale(1.02);
      }
  
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  
    .error-message {
      color: red;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .login-link {
    margin-top: 20px;
    font-size: 1rem;
    color: #444;

    a {
      color: #c4b5a5;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s;
      // modifier le pointeur de la souris
      cursor: pointer;

      &:hover {
        color: #8b6508; /* Doré plus foncé */
        text-decoration: underline;
      }
    }
  }
}


  