<section class="hero">
  <div class="hero-content">
    <div class="logo">
      <img src="assets/images/logo-yy.png" alt="Logo du salon" style="width: 30%;">
    </div>
    <p>INSTITUT DE COIFFURE Y&Y</p>
    <p>BY JASMINE</p>
    <a (click)="toServices()" class="btn">Découvrez nos services</a>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>À PROPOS</h2>
    <p>
      Bienvenue à l'Institut Y&Y, votre havre de beauté et de bien-être à Montréal.
      <br>
      <br>
      Situé au cœur de la ville, notre salon de coiffure pour femmes vous offre une expérience unique, alliant
      expertise, créativité et soins personnalisés. Que vous recherchiez une coupe moderne, une coloration éclatante ou
      un traitement capillaire réparateur, notre équipe de coiffeurs professionnels est là pour révéler la beauté
      naturelle de vos cheveux.
      <br>
      <br>
      Nous utilisons des produits de qualité supérieure et des techniques à la pointe de la mode pour vous offrir un
      service qui respecte vos envies et vos besoins. À l'Institut Y&Y, chaque cliente est unique, et nous prenons le
      temps de comprendre vos souhaits pour vous offrir une coiffure qui met en valeur votre personnalité.
      <br>
      <br>
      Que ce soit pour un moment de détente ou pour un changement de look radical, nous vous garantissons un service
      exceptionnel et une expérience mémorable. Découvrez l’art de la coiffure avec une touche de luxe à Montréal.

    </p>
  </div>
</section>

<section class="appointment-section">
  <div class="appointment-container">
    <div class="appointment-text">
      <h2>Réservez en quelques clics, détendez-vous</h2>
    </div>
    <div class="appointment-options">
      <div class="option">
        <h3>Rendez-vous en ligne</h3>
        <p>Consultez notre calendrier à tout moment pour réserver votre prochain service.
          Connectez-vous à votre espace client ou créez un compte pour faire une demande de rendez-vous personnalisée. Nous sommes là pour vous !</p>
        <button class="btn" (click)="prendreRdv()">Réservez</button>
      </div>
      <div class="option">
        <h3>Rendez-vous téléphonique</h3>
        <p>Vous préférez échanger directement avec un professionnel pour planifier votre rendez-vous ?
          Notre équipe est à votre écoute par téléphone pendant nos heures d’ouverture. N’hésitez pas à nous appeler !</p>
        <button class="btn" (click)="toContact()">Appelez-nous</button>
      </div>
    </div>
  </div>
</section>

<section class="biosthetique">
  <div class="container">
    <div class="content">
      <div class="text">
        <h2>L’Excellence Y&Y avec La Biosthétique</h2>
        <p>
          Au salon Y&Y, nous avons fait le choix de l’excellence en vous proposant les produits La Biosthétique,
          référence en soins capillaires haut de gamme. Dès la première application, vos cheveux gagnent en éclat,
          douceur et longévité, pour une couleur éclatante qui dure.
          <br>
          <br>
          Mais notre expertise va plus loin. Grâce à des soins express personnalisés, nous prenons soin de votre cuir
          chevelu : chute de cheveux, démangeaisons, sécheresse ou pellicules, chaque problème trouve sa solution.
          <br>
          <br>
          Un doute ? Parlez-en avec nos coiffeurs experts : ils vous guideront vers la routine idéale pour sublimer
          vos cheveux au quotidien.
        </p>
      </div>
      <div class="image">
        <img src="assets/images/home/hairdresser-cut-hair-her-client-hair-salon.jpg" alt="Biosthétique">
      </div>
    </div>
  </div>
</section>

<section class="opening-hours">
  <div class="container">
    <h2>Horaires d'ouverture</h2>
    <ul>
      <li><strong>Lundi :</strong> <span>Fermé</span></li>
      <li><strong>Mardi :</strong> 10h à 18h</li>
      <li><strong>Mercredi :</strong> 10h à 18h</li>
      <li><strong>Jeudi :</strong> 10h à 19h</li>
      <li><strong>Vendredi :</strong> 10h à 19h</li>
      <li><strong>Samedi :</strong> 10h à 17h</li>
      <li><strong>Dimanche :</strong> <span>Fermé</span></li>
    </ul>
    <p>Notre équipe vous accueille avec plaisir pendant nos heures d'ouverture. À bientôt chez Y&Y !</p>
  </div>
</section>
