<section class="hero">
  <div class="hero-content">
    <div class="logo">
      <img src="assets/images/logo-yy.png" alt="Logo du salon" style="width: 30%;" />
    </div>
    <p>{{ 'HOME.HERO.TITLE' | translate }}</p>
    <p>{{ 'HOME.HERO.SUBTITLE' | translate }}</p>
    <a (click)="toServices()" class="btn">{{ 'HOME.HERO.CTA' | translate }}</a>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>{{ 'HOME.ABOUT.TITLE' | translate }}</h2>
    <p>{{ 'HOME.ABOUT.DESCRIPTION' | translate }}</p>
  </div>
</section>

<section class="appointment-section">
  <div class="appointment-container">
    <div class="appointment-text">
      <h2>{{ 'HOME.APPOINT.TITLE' | translate }}</h2>
    </div>
    <div class="appointment-options">
      <div class="option">
        <h3>{{ 'HOME.APPOINT.ONLINE.TITLE' | translate }}</h3>
        <p>{{ 'HOME.APPOINT.ONLINE.TEXT' | translate }}</p>
        <button class="btn" (click)="prendreRdv()">{{ 'HOME.APPOINT.ONLINE.BTN' | translate }}</button>
      </div>
      <div class="option">
        <h3>{{ 'HOME.APPOINT.PHONE.TITLE' | translate }}</h3>
        <p>{{ 'HOME.APPOINT.PHONE.TEXT' | translate }}</p>
        <button class="btn" (click)="toContact()">{{ 'HOME.APPOINT.PHONE.BTN' | translate }}</button>
      </div>
    </div>
  </div>
</section>

<section class="biosthetique">
  <div class="container">
    <div class="content">
      <div class="text">
        <h2>{{ 'HOME.BIO.TITLE' | translate }}</h2>
        <p>{{ 'HOME.BIO.DESCRIPTION' | translate }}</p>
      </div>
      <div class="image">
        <img src="assets/images/home/hairdresser-cut-hair-her-client-hair-salon.jpg" alt="Biosthétique" />
      </div>
    </div>
  </div>
</section>

<section class="opening-hours">
  <div class="container">
    <h2>{{ 'HOME.HOURS.TITLE' | translate }}</h2>
    <ul>
      <li><strong>{{ 'DAYS.MONDAY' | translate }} :</strong> <span>{{ 'HOME.HOURS.CLOSED' | translate }}</span></li>
      <li><strong>{{ 'DAYS.TUESDAY' | translate }} :</strong> 10h à 18h</li>
      <li><strong>{{ 'DAYS.WEDNESDAY' | translate }} :</strong> 10h à 18h</li>
      <li><strong>{{ 'DAYS.THURSDAY' | translate }} :</strong> 10h à 19h</li>
      <li><strong>{{ 'DAYS.FRIDAY' | translate }} :</strong> 10h à 19h</li>
      <li><strong>{{ 'DAYS.SATURDAY' | translate }} :</strong> 10h à 19h</li>
      <li><strong>{{ 'DAYS.SUNDAY' | translate }} :</strong> <span>{{ 'HOME.HOURS.BY_APPOINTMENT' | translate }}</span></li>
    </ul>
    <p>{{ 'HOME.HOURS.FOOTER' | translate }}</p>
  </div>
</section>
