<section class="client-dashboard">
  <!-- 🍔 Burger menu -->
  <button class="burger-menu" (click)="toggleSidebar()">☰</button>

  <div class="client-container">
    <!-- 📌 Sidebar -->
    <nav class="sidebar" [class.closed]="!isSidebarOpen">
      <div class="logo">
        <img src="assets/images/logo-yy.png" alt="Logo" />
      </div>
      <ul>
        <li><a (click)="goToDashboard()">{{ 'CLIENT_MENU.DASHBOARD' | translate }}</a></li>
        <!-- <li><a (click)="goToChangePassword()">{{ 'CLIENT_MENU.CHANGE_PASSWORD' | translate }}</a></li> -->
        <li><a (click)="goToProfile()">{{ 'CLIENT_MENU.EDIT_PROFILE' | translate }}</a></li>
      </ul>
    </nav>

    <!-- 📦 Contenu -->
    <div class="client-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
